.notification {
  background: lightgrey;
  color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.notification.error {
  color: red;
}
